{% extends "layout.html" %}
{% block content %}
    <br>
    <a class="btn btn-success float-right" href="{{ url_for('books.import_books') }}">Import From API</a>
    <h1>Books</h1>
    <br>
    <form class="form-inline" action="/books/search" method="POST">
        <input name="search" type="text" class="form-control mb-2 mr-sm-2 search" placeholder="Search Using Name or Author of the Book...">
        <button type="submit" class="btn btn-primary mb-2 search">Search</button>
    </form>
    <br>
    {% if data %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Rented</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in data %}
                <tr>
                    <td><span class="btn pull-right">{{"{:05d}".format(book.book_id)}}</span></td>
                    <td>{{book.title}}</td>
                    <td>{{book.authors}}</td>
                    <td>{{book.quantity}}</td>
                    <td>{{book.quantity - book.rented}}</td>
                    <td>{{book.rented}}</td>
                    <td>
                        <button class="btn btn-info" onclick="window.location='/book/{{book.book_id}}/issue';">Issue</button>
                    </td>
                    <td>
                        <button class="btn btn-secondary" onclick="window.location='/book/{{book.book_id}}/edit';">Edit</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not title.startswith('Search') %}
            <div class="pagination">
                {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
                    {% if page_num %}
                        {% if books.page==page_num %}
                            <a class="btn btn-danger mb-4" href="{{ url_for('books.all_books', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-danger mb-4" href="{{ url_for('books.all_books', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        <p class="mt-3">...</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}