{% extends "layout.html" %}
{% block content %}

    <div class="home">
        <h1 id="heading">Library Management</h1>
        <p id="desc">
            Library management system built using Flask for Librarian to maintain books, register members, issue books, charge the members on returning the books, and help them record transactions. This app abides and follows the guidelines mentioned at <a href="https://frappe.io/dev-hiring-test">Frappe Dev Hiring Test</a>.
        </p>
    </div>

{% endblock content %}