{% extends "layout.html" %}
{% block content %}

    <br>
    <h1>Issue Book</h1>
    <br>

    <form method="POST" action="">
        {{ issue_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ issue_form.email.label(class="form-control-label") }}
                {% if issue_form.email.errors %}
                    {{ issue_form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in issue_form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ issue_form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ issue_form.book_id.label(class="form-control-label") }}
                {% if issue_form.book_id.errors %}
                    {{ issue_form.book_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in issue_form.book_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ issue_form.book_id(class="form-control form-control-lg", value=id) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ issue_form.charges.label(class="form-control-label") }}
                {% if issue_form.charges.errors %}
                    {{ issue_form.charges(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in issue_form.charges.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ issue_form.charges(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ issue_form.issueBtn(class="btn btn-outline-info") }}
        </div>
    </form>

{% endblock content %}